# Python cache
__pycache__/
*.pyc

# Build artifacts
build/
hrl.egg-info/

# Documentation build artifacts
docs/_build/


## Tool specifics:
# Cached files for pytest
.pytest_cache/

# Directory for virtual environment
.venv/

# Cache files for mypy type checker
.mypy_cache/

# Lock file for uv package manager
uv.lock

# Settings for VSCode editor
.vscode/
