name: Build Docs HTML

on:
  push:
    branches-ignore:
      - master

permissions:
  contents: write

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
        # Checkout the HRL repository
      - uses: actions/checkout@v6

        # Install uv with python version
      - name: Install the latest version of uv and set the python version
        uses: astral-sh/setup-uv@v7

        # Install dependencies for docs
      - name: Install dependencies for docs
        run: uv sync --group docs

        # Build the docs using JupyterBook
      - name: Build docs
        run: uv run jb build docs/
